.changelogContainer {
  width: 65%;
  text-align: left;
  margin-bottom: 0.2rem;
  margin-left: 0.6rem;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerContainer button {
  text-align: center;
  width: 35px;
  height: 23px;
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #333;
  cursor: pointer;
}

.changelogTitle {
  font-weight: 600;
  font-size: 24px;
  padding-top: 5px;
  padding-bottom: 3px;
}

.changelogText {
  font-size: 15px;
  white-space: pre-wrap;
}

@media (max-width: 900px) {
  .changelogContainer {
    margin-left: 0.6rem;
  }
}
