.reportsPage {
  min-height: 900px;
}

.reportsContainer {
  height: 400px;
  margin: auto;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.repotsScrollingContainer {
  margin-top: 3px;
  padding-right: 0.6rem;
  overflow-y: auto;
  scroll-behavior: smooth;
  transition: scroll-behavior 0.3s ease;
}

.loading {
  text-align: center;
  padding: 40px;
  color: #666;
  font-size: 16px;
}

.reportsScrollingContainer {
  margin-top: 3px;
  padding-right: 0.6rem;
  overflow-y: auto;
  scroll-behavior: smooth;
  transition: scroll-behavior 0.3s ease;
}
