.wrapper {
  width: 80%;
  margin: auto;
}

.lineSeparator {
  margin: auto;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 3px;
  background-color: white;
}

.title {
  margin-top: 0;
  padding-top: 2px;
  margin-bottom: 3px;
  font-size: 28px;
  font-weight: 600;
}
