.productCard {
  width: 240px;
  height: 350px;
}

.stockInfo {
  display: flex;
  align-items: center;
}
.stockIndicator {
  width: 10px;
  height: 10px;
  margin-right: 0.3rem;
}
.starFilled {
  width: 13px;
  height: 13px;
  fill: gold;
}
.starHalf {
  width: 13px;
  height: 13px;
}
.star {
  width: 13px;
  height: 13px;
}
.inStock {
}
.outOfStock {
}
.stockLabel {
}
.stockLabel {
  color: #78a962;
  font-size: 10px;
  display: flex;
  align-items: center; /* вертикальное центрирование */
}
.productImage {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center; /* центрирует .productCard по горизонтали */
}
.imagePlaceHolder {
}
.placeholderText {
}
.productName {
  font-size: 13px;
  width: 100%;
  padding-right: 2rem;
  box-sizing: border-box;
}
.ratingInfo {
  display: flex;
  justify-content: flex-start;
}

.stars {
  margin-right: 1rem;
}

.reviewLink {
  font-size: 12px;
  color: #a2a6b0;
  text-decoration: none;
}
.priceInfo {
  display: flex;
  flex-direction: column;
}
.priceOld {
  text-decoration: line-through;
  font-size: 14px;
  color: #666666;
}
.PriceNew {
  font-weight: 600;
  font-size: 18px;
}
.priceCurrent {
}

.cardHeader {
}
