.mainPage {
  background-color: #111010;
  min-height: 1000px;
}

.wrapper {
  width: 80%;
  margin: auto;
}

.aboutRow {
  display: flex;
  margin: auto;
  gap: 30px;
  margin-top: 20px;
  align-items: flex-start;
  margin-bottom: 15px;
}

.textColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.aboutSubtitle {
  margin-top: 0.35rem;
  font-size: 12px;
  font-style: italic;
  color: rgb(168, 160, 160);
}

.imageColumn {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameImage {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
}

.changelogsContainer {
}

.changelogsScrollingContainer {
  width: 100%;
  margin-top: 3px;
  padding-right: 0.6rem;
  overflow-y: auto;
  scroll-behavior: smooth;
  transition: scroll-behavior 0.3s ease;
}

.changelogs {
  display: flex;
  max-height: 350px;
}

.reportsContainer {
  height: 300px;
  margin: auto;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.reportsScrollingContainer {
  margin-top: 3px;
  padding-right: 0.6rem;
  overflow-y: auto;
  scroll-behavior: smooth;
  transition: scroll-behavior 0.3s ease;
}

.loading {
  text-align: center;
  padding: 40px;
  color: #666;
  font-size: 16px;
}
