.mainPage {
  margin-top: 3rem;
  background-color: #111010;
  min-height: 1000px;
}

.lineSeparator {
  width: 80%;
  margin: auto;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  height: 3px;
  background-color: white;
}

.title {
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 28px;
}

.changelogContainer {
  height: 150px;
  margin: auto;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.changelogInfo {
  font-size: 15px;
  margin-top: 10px;
}

.reportsContainer {
  height: 400px;
  margin: auto;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.scrollingContainer {
  margin-top: 15px;
  overflow-y: auto;
  padding: 15px;
  scroll-behavior: smooth;
  transition: scroll-behavior 0.3s ease;
}
