.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрируем по горизонтали */
  width: max-content;
  margin: auto;
}

.headerLogo {
  margin-top: 0.2rem;
  margin-bottom: -1rem;
}

.gameName {
  color: white;
  font-size: 45px;
  margin-top: 0.1rem;
}

.infoText {
  margin-top: 0.3rem;
  color: white;
  font-size: 12px;
  text-align: right;
  font-style: italic;
  width: 100%;
  align-self: flex-end;
}
