.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  margin: auto;
}

.headerLogo {
  margin-top: 0.2rem;
  margin-bottom: -1rem;
}

.gameName {
  color: white;
  font-size: 45px;
  margin-top: 0.1rem;
}

.infoText {
  margin-top: 0.3rem;
  color: white;
  font-size: 12px;
  text-align: right;
  font-style: italic;
  width: 100%;
  align-self: flex-end;
}

.navigation {
  display: flex;
  width: 48%;
  height: 3rem;
  margin: auto;
  padding-top: 0.7rem;
  font-size: 18px;
  justify-content: space-around;
  align-items: center;
}
.navContainer {
  width: 100%;
  height: 100%;
  line-height: 3rem;
  transition: all 0.3s ease;
  text-align: center;
}

/* Стиль при наведении */
.navContainer:hover {
  background-color: #100f0f;
}

/* Активный стиль (темный фон) */
.navContainer.active {
  background-color: #100f0f;
}

/* Еще более темный при наведении на активную */
.navContainer.active:hover {
  background-color: #000000; /* оставляем черным или делаем еще темнее */
}

.navContainer a {
  color: white;
  text-decoration: none;
  display: block; /* чтобы ссылка занимала весь контейнер */
  width: 100%;
  height: 100%;
}
