.inputForm {
  width: 250px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.inputForm button {
  border-width: 0;
  font-weight: 600;
  font-size: 20px;
  margin: auto;
  margin-top: 0.2rem;
  width: 100%;
  background-color: rgb(255, 255, 255);
  transition: 0.5s;
  height: 40px;
  margin-bottom: 0.7rem;
}

.inputForm button:hover {
  background-color: rgb(172, 172, 172);
}
.inputField {
  display: flex;
  justify-content: space-between;
}
