.inputForm {
  width: 250px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.inputForm button {
  margin: auto;
  margin-top: 0.2rem;
  width: 100%;
  height: 30px;
}

.inputField {
  display: flex;
  justify-content: space-between;
}
