.footer {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: end;
  background-color: #0c0b0b;
}

.headerText {
  color: white;
  font-size: 12px;
  text-align: left;
  padding-left: 0.7rem;
  padding-bottom: 0.5rem;
}
 