.footer {
  width: 100%;
  height: 520px;
  background-color: #020203;
  padding-top: 3rem;
  padding-left: 15%;
  padding-right: 15%;
}

.headerText {
  color: white;
  font-weight: 500;
  font-size: 38px;
}

.headerSmallText {
  color: white;
}
