.not-founded {
  min-height: 1000px;
  width: 100%;
  margin: auto;
  color: white;
  display: flex;
  justify-content: center; /* горизонтальное центрирование */
  font-size: 50px;
  text-decoration: solid;
}
